* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: sans-serif;
}

.container {
    max-width: 1100px;
    background: #74f1ff;
}

.chat_block {
    padding: 50px 10px;
}

.chat_block .container {
    padding: 20px;
    border: solid 1px #777;
    border-radius: 12px;
}

.chat_item {
    padding: 4px;
    border-radius: 4px;
    background: white;
    margin-bottom: 6px;
    align-self: flex-start;
    max-width: 80%;
}

.chat_item.my {
    align-self: flex-end;
}

.chat_item.message {
    border: solid 1px orange;
}

.chat_block .chat-result {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 250px);
    overflow: auto;
}

.chat_fields {

}

.chat_fields textarea {
    margin-left: auto;
    padding: 8px;
    border-radius: 4px;
    resize: none;
    border: solid 1px #eee;
    line-height: 1.25;
    height: calc(3.75em + 4px);
    width: 100%;
    margin-right: 10px;
}

#username {
    padding: 4px;
    border-radius: 4px;
    border: solid 1px #eee;
    margin-bottom: 16px;
}

.chat_fields input[type="submit"] {
    padding: 8px;
    border-radius: 4px;
    border: solid 1px #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
    height: calc(3.75em + 4px);
}

.chat_username {
    margin-right: 10px;
    font-size: 14px;
    color: #4357d9;
}